extends layout

block content
  h1= title
  p Welcome to Github
  button(type="button", class="btn btn-secondary" onclick="double()") I am a button
  br
  br
  div#double Up the amount
  br
  a(href='/book') View Search Results
  script.
    var value = 0;
    var power = 1;

    function double() {
      value += 1;
      power *= 2;
      document.getElementById("double").innerText = "Two to the power " + value + " is " + power;
    }