body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bookAttr {
  background-color: aquamarine;
  width: 120px;
    display: inline-block;
    padding: 10px 20px;
    background-color:#00B7FF;
    color: #be1818;
    text-decoration: none;
    cursor: pointer;
  }